@import "./abstracts/variables";
@import "./abstracts/mixin";
@import "./vendors/normalize";

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Gilroy";
}

// header

header {
  width: 100%;
  height: 54px;
  background-color: #f8f8f9;
  @include displayF;
  position: relative;
  .container {
    height: inherit;
    @include displayF;
    .header-items {
      @include displayF;
      gap: 30px;
      * {
        color: $primary-grey-color;
        font-size: 14px;
      }
    }
    nav {
      margin-top: 10px;
      ul {
        @include displayF;
        gap: 20px;
        * {
          color: $primary-grey-color;
          font-size: 14px;
        }
      }
    }
  }
}
// header finish

// header fixed
.header-fixed {
  width: 100%;
  height: 72px;
  padding: 10px 0;
  // position: fixed;
  background-color: white;
  .container {
    @include displayF;
    gap: 30px;
    .header-fixed__logo {
      img {
        width: 154px;
        height: 24px;
        object-fit: cover;
      }
    }
    .header-fixed__button {
      border: none;
      border-radius: 12px;
      background-color: $primary-background-button-color;
      padding: 12px 20px;
      color: $primary-white-color;
      @include displayF;
      gap: 10px;
    }

    .header-fixed__search {
      @include displayF;
      width: 100%;
      max-width: 600px;
      height: 51px;
      border: 2px solid $primary-border-color;
      border-radius: 12px;
      input {
        padding: 0 20px;
        background: transparent;
        border: none;
        &:focus {
          outline: none;
        }
      }
      i {
        width: 70px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary-background-button-color;
        border: none;
        border-radius: 12px;
        margin-right: 5px;
        color: $primary-white-color;
      }
    }
    .header-fixed__items {
      @include displayF;
      gap: 25px;
      .item {
        @include displayF;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        i {
          font-size: 18px;
          color: #0b2b5e;
        }
        span {
          font-size: 14px;
        }
      }
    }
  }
}

// header-nav
.header-nav {
  .container {
    @include displayF;
    font-size: 14px;

    li {
      a {
        color: $primary-grey-color;
        &:hover {
          color: $primary-hover-color;
        }
      }
    }
  }
}

.ads-carusel {
  margin-top: 20px;
}

// common-categories
.title {
  b {
    margin-top: 20px;
    color: #1d242f;
  }
}
.common-categories__items {
  @include displayF;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 100%;

  .common-item {
    height: 70px;
    @include displayF;
    border: 2px solid $primary-border-color;
    border-radius: 10px;
    gap: 15px;
    padding: 0 16px;
    i {
      background-color: $primary-bgcolor-items;
      padding: 10px;
      border-radius: 5px;
      color: #d92e15;
    }
    a {
      @include displayF;
      gap: 5px;
    }
    p {
      color: #787c83;
    }
  }
}

// all news
.all-news {
  .container {
    .new-cards {
      margin-top: 10px;
      .new-card {
        @include displayF;
        margin-top: 20px;
        .new-card__card-box {
          width: 215px;
          @include displayF;
          flex-direction: column;
          padding: 12px;
          box-sizing: border-box;
          border-radius: 12px;
          gap: 5px;
          cursor: pointer;
          border: 2px solid $primary-white-color;
          &:hover {
            border: 2px solid $primary-bgcolor-items;
          }

          h2 {
            font-size: 20px;
            color: black;
          }
          .card-main__cost {
            @include displayF;
            font-size: 14px;
            line-height: normal;
            border-radius: 8px;
            margin-bottom: 10px;
            padding: 4px 12px;
            border: 1px solid black;
            margin-top: 8px;
          }
          p {
            font-size: 14px;
            color: $primary-grey-color;
          }
          img {
            width: 175px;
          }

          .card-footer {
            @include displayF;
            gap: 10px;
            margin-top: 16px;
            align-items: center;
            justify-content: center;
            i {
              width: 50px;
              height: 50px;
              padding: 14px;
              // height: 49px;
              border-radius: 8px;
              border: none;
              background-color: $primary-border-color;
              @include displayF;
              &:hover{
                background-color:#e4e4e4;
                transition: all 0.3s;
              }
              &:first-child {
                background-color: $primary-background-button-color;
                padding: 10px 14px;
                width: 70px;
                height: 50px;
                @include displayF;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
}

// xit start

.xitlar {
  .container {
    .wrab-box {
      @include displayF;
      margin-top: 20px;
      .title {
        padding-top: 20px;
        padding-bottom: 15px;
      }
      h1 {
        font-size: 24px;
      }
      .container__itemss {
        width: 225px;
       
        margin-top: 20px;
        border-radius: 20px;
        padding: 12px;
        cursor: pointer;
        border: 2px solid $primary-white-color;
        &:hover {
          border: 2px solid $primary-border-color;
        }
      }
      .container__xit-items {
        .xit-items__header {
          position: relative;
          img {
            width: 190px;
          }
          i {
            position: absolute;
          }
        }
      }
      .card-xit {
        h2 {
          font-size: 16px;
        }
        .card-s-xit {
          padding: 6px 8px;
          color: $primary-sp-color;
          background-color: $primary-sp-bg-color;
          font-size: 12px;
        }
        p {
          margin-top: 8px;
          font-size: 14px;
          color: $primary-grey-color;
          margin-top: 8px;
          font-weight: 400;
          margin-bottom: 8px;
        }
      }
      .stars {
        i {
          margin-top: 20px;
        }
      }
      .footer-xit {
        button {
          padding: 14px;
          color: white;
          background-color: $primary-background-button-color;
          border: none;
          border-radius: 10px;
          width: 100%;
          margin-top: 10px;
          &:hover{
          background-color:#c82f18;
          }
        }
      }
    }
  }
}

// xit finished

// add

.add-section {
  padding-top: 20px;
  .container {
    margin-top: 20px;
    .con-image {
      margin-top: 20px;
      img {
        border-radius: 25px;
      }
    }
  }
}

// add  finished

// trendy-categories start

.trendy-categories {
  .container {
    .named-title {
      h2 {
        font-size: 24px;
      }
      .named-title__menu {
        @include displayF;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: flex-start;
        margin-bottom: 16px;
        ul {
          @include displayF;
          justify-content: flex-start;
          margin-left: -40px;
          gap: 10px;
          a {
            font-size: 14px;
            margin: 0 0 16px;
            padding: 8px 14px;
            color: $primary-grey-color;
            background-color: $primary-bgcolor-items;
            border: none;
            border-radius: 15px;
            &:hover {
              background-color: #f0e6e4;
              transition: all 0.4s;
            }
          }
          .first-a {
            background-color: #1d242f;
            color: $primary-white-color;
          }
        }
      }
    }

    .new-trends {
      @include displayF;
      .container__trendy-products {
        width: 225px;
        padding: 12px;
        margin-top: 20px;
        border-radius: 20px;
        cursor: pointer;
        border: 2px solid $primary-white-color;
        &:hover {
          border: 2px solid $primary-border-color;
        }

        .trend-header {
          img {
            width: 190px;
          }
        }
        .trend-main {
          h2 {
            @include mainn;
          }

          .trend-main__cost {
            @include displayF;
            font-size: 14px;
            line-height: normal;
            border-radius: 8px;
            margin-bottom: 10px;
            padding: 4px 12px;
            border: 1px solid black;
            margin-top: 8px;
          }
          p {
            font-size: 14px;
            color: $primary-grey-color;
          }
        }
        .trend-footer {
          @include footer;
        }
      }
    }
  }
}
// trend categories finished

// laptops starts

.laptops {
  .container {
    margin-top: 20px;
    .laptop-title {
      margin-top: 20px;
      h2 {
        margin-top: 30px;
        @include mainn;
        font-size: 24px;
      }
    }
    .laptop-types {
      @include displayF;
      .laptop-type {
        width: 225px;
        @include displayF;
        flex-direction: column;
        text-align: center;
        padding: 12px;
        margin-top: 40px;
        border-radius: 20px;
        border: 2px solid $primary-white-color;
        cursor: pointer;
        &:hover {
          border: 2px solid $primary-border-color;
        }

        .laptop-type__header {
          img {
            width: 190px;
            margin-bottom: 20px;
          }
        }
      }
    }
    .laptop-type__hero {
      .hero__stars {
        i {
          padding-top: 20px;
        }
      }
      p {
        @include pol;
        margin-bottom: 16px;
      }
      b {
        margin-top: 16px;
      }
      h2 {
        @include mainn;
        padding-top: 16px;
      }
      .spans-card {
        width: 200px;
        padding: 2px;
        background-color: $primary-border-color;
        border-radius: 12px;
        height: 47px;
        @include displayF;
        justify-content: flex-start;
        gap: 15px;
        // box-sizing:content-box;
        .cost-c {
          padding: 5px 15px;
          font-size: 14px;
          background-color: #fff;
          border-radius: 10px;
          width: 110px;
          height: 100%;
          text-align: center;
          @include displayF;
        }
        .cost-month {
          width: 59px;
          padding: 11px;
          @include displayF;
          text-align: center;
          margin-right: 10px;
        }
      }
    }
  }
}

// laptop finished

// worked-section starts

.worked-section {
  .container {
    margin-top: 30px;
    .named-worked__title {
      h2 {
        margin-top: 30px;
        @include mainn;
        font-size: 24px;
      }
    }
    .new-types-tech {
      @include displayF;
      .container__worked-products {
        width: 225px;
        padding: 12px;
        margin-top: 20px;
        border-radius: 20px;
        cursor: pointer;
        border: 2px solid $primary-white-color;
        &:hover {
          border: 2px solid $primary-border-color;
        }
        .work-header {
          img {
            width: 190px;
          }
        }
        .work-main {
          h2 {
            @include mainn;
          }
          p {
            @include pol;
            margin-bottom: 20px;
          }
          .work-main__cost {
            @include displayF;
            font-size: 14px;
            line-height: normal;
            border-radius: 8px;
            margin-bottom: 10px;
            padding: 4px 12px;
            border: 1px solid black;
            margin-top: 8px;
          }
        }
        .worked-section__footer {
          @include footer;
        }
      }
    }
  }
}
//  worked section finished

.common-brends {
  .container {
    margin-top: 40px;
    .container__brends-companies {
      h2 {
        @include mainn;
        font-size: 24px;
      }
      .companies-brend-logos {
        @include displayF;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        cursor: pointer;
        div {
          border: 2px solid $primary-border-color;
          height: 120px;
          @include displayF;
          width: 100%;
          align-items: center;
          justify-content: center;
          border-radius: 20px;
          gap: 20px;
          padding: 3px;
          img {
            align-items: center;
          }
        }
      }
    }
    .container__mediapark-aspects {
      h2 {
        @include mainn;
        font-size: 24px;
      }
      .aspects-company {
        @include displayF;
        .aspects-company__info {
          width: 226px;
          height: 260px;
          border: 2px solid $primary-border-color;
          border-radius: 20px;
          padding: 16px;
          cursor: pointer;
          .info-header {
            background-color: $primary-sp-bg-color;
            width: 48px;
            height: 48px;
            @include displayF;
            justify-content: center;
            border-radius: 10px;
          }
        }
        .hero-info {
          margin-top: 16px;
          h3 {
            font-size: 16px;
          }
          p {
            @include pol;
            line-height: 150%;
          }
        }
      }
    }
  }
}
// finished

//
.social-media {
  background-color: $primary-border-color;
  position: relative;
  @include displayF;
  margin-top: 70px;
  padding-top: 25px;
  .container {
    @include displayF;
    .container__main-info {
      @include displayF;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 45px;
      // margin-top: 45px;
      h2 {
        font-size: 32px;
        color: $primary-black-color;
      }
      p {
        @include pol;
        font-size: 16px;
      }
      .img-bottom {
        @include displayF;
        gap: 20px;
        padding-bottom: 35px;
        cursor: pointer;
      }
    }
    .img-info {
      position: absolute;
      left: 950px;
      width: 484px;
      height: 367px;
      top: -40px;
    }
  }
}
// social-info finished

// footer start

.footer {
  background-color: $primary-black-color;
  .container {
    padding: 64px 15px 48px;
    display: flex;
    justify-content: space-between ;
    .about-contact {
      color: white;
      p {
        margin-top: 32px;
        font-size: 14px;
      }
      a {
        color: white;
        &:first-child {
          font-size: 32px;
        }
      }
    }
    .overall-info{
      display: flex;
      gap: 32px;

      h3{
        color: white;
      }
      a{
        color: $primary-border-color;
        opacity: 0.5;
        @include displayF;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        &:hover{
          color:white;
        }
      }
      .payment{
        width: 341px;
        @include displayF;
        flex-wrap: wrap;
        margin-top: 30px;
       div{
        width: 144px;
        background-color:#222C3A;
        @include displayF;
        align-items: center;
        border-radius:10px;
        justify-content: center;
        height: 53px;
        gap: 12px;
        img{
          width: 100px;
          height: 40px;
        }
        
       }
      }
      .information{
        width: 196px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

      }
      .helps{
        width: 196px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
      }
      .for-customers{
        width: 196px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
      }
    }
  }
}
