$primary-grey-color: #6C7178;
$primary-white-color: #FFF;
$primary-border-color: #F5F5F6;
$primary-background-button-color: #d92e15;
$primary-hover-color:#0b2b5e;
$primary-bgcolor-items:#FDF3F1;
$primary-sp-color:#D92E15;
$primary-sp-bg-color:#FDF5f3;
$primary-black-color:#1d242f;

%h2{
  font-size: 20px;
  color: $primary-black-color;
}
%p{
  font-size: 14px;
  color: $primary-grey-color;
}

  

    